.header {
    justify-content: center;
}

.list {
    display: flex;
}

.list a {
    background-color: #ffffff;
    color: #111827;
    border-radius: 4px;
    text-decoration: none;
}

.list a:hover,
.list a:active,
.list a.active {
    background-color: #f3f4f6;
}
